<div class="flex flex-column align-items-center justify-content-center">
    <app-todo-add-new-task></app-todo-add-new-task>
        <p-card header="Todo" class="w-6">
                    <p-table [value]="taskService.tasks()">

                        <ng-template pTemplate="header">
                            <tr>
                                <th width="60%">Task</th>
                                <th>Completed</th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                        </ng-template>
                        
                        <ng-template pTemplate="body" let-task>
                            <app-todo-task [task]="task"></app-todo-task>
                        </ng-template>
                        
                        <ng-template pTemplate="footer">
                            <app-todo-footer></app-todo-footer>
                        </ng-template>
                    </p-table>
        </p-card>
</div>

<p-confirmDialog></p-confirmDialog>
